<div class="dialog-container">
  <h2 mat-dialog-title>{{ 'form.addExhibitor' | translate }}</h2>
  <form #exhibitorForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
      <div class="form-row">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ 'form.companyName' | translate }}</mat-label>
          <input matInput 
                 name="companyName" 
                 [(ngModel)]="exhibitor.companyName" 
                 #companyNameRef="ngModel"
                 required
                 maxlength="100"
                 [placeholder]="'form.companyName' | translate">
          <mat-error *ngIf="companyNameRef.invalid && companyNameRef.touched">
            {{ 'form.companyNameRequired' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      
      <div class="form-row">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ 'form.contactPerson' | translate }}</mat-label>
          <input matInput 
                 name="contactPerson" 
                 [(ngModel)]="exhibitor.contactPerson" 
                 #contactPersonRef="ngModel"
                 required
                 maxlength="100"
                 [placeholder]="'form.contactPerson' | translate">
          <mat-error *ngIf="contactPersonRef.invalid && contactPersonRef.touched">
            {{ 'form.contactPersonRequired' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      
      <div class="form-row">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ 'form.email' | translate }}</mat-label>
          <input matInput 
                 name="email" 
                 [(ngModel)]="exhibitor.email" 
                 #emailRef="ngModel"
                 required 
                 type="email"
                 maxlength="100"
                 [placeholder]="'form.email' | translate">
          <mat-error *ngIf="emailRef.invalid && emailRef.touched">
            {{ 'form.emailInvalid' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      
      <div class="form-row">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ 'form.boothNumber' | translate }}</mat-label>
          <input matInput 
                 name="boothNumber" 
                 [(ngModel)]="exhibitor.boothNumber" 
                 #boothNumberRef="ngModel"
                 required
                 maxlength="20"
                 [placeholder]="'form.boothNumber' | translate">
          <mat-error *ngIf="boothNumberRef.invalid && boothNumberRef.touched">
            {{ 'form.boothNumberRequired' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      
      <div class="form-row">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ 'form.floorNumber' | translate }}</mat-label>
          <input matInput 
                 name="floorNumber" 
                 [(ngModel)]="exhibitor.floorNumber" 
                 #floorNumberRef="ngModel"
                 required
                 maxlength="10"
                 [placeholder]="'form.floorNumber' | translate">
          <mat-error *ngIf="floorNumberRef.invalid && floorNumberRef.touched">
            {{ 'form.floorNumberRequired' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      
      <div class="form-row">
        <app-image-upload
          [currentImageUrl]="exhibitor.logoUrl"
          category="logos"
          [label]="'form.companyLogo' | translate"
          (imageUrlChange)="onLogoUploaded($event)">
        </app-image-upload>
      </div>
    </mat-dialog-content>
    
    <mat-dialog-actions align="end">
      <button mat-button type="button" (click)="onCancel()">{{ 'form.cancel' | translate }}</button>
      <button mat-raised-button color="primary" type="submit">{{ 'form.addExhibitor' | translate }}</button>
    </mat-dialog-actions>
  </form>
</div>